@font-face {
    font-family: 'AkzidenzMedium';
    src: url('AkzidenzGroteskBQ-MedExt.woff2') format('woff2'), url('AkzidenzGroteskBQ-MedExt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* @font-face {
    font-family: 'AkzidenzMediumItalic';
    src: url('AkzidenzGroteskBQ-MedExtIt.woff2') format('woff2'), url('AkzidenzGroteskBQ-MedExtIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'Akzidenz';
    src: url('AkzidenzGroteskBQ-Ext.woff2') format('woff2'), url('AkzidenzGroteskBQ-Ext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* @font-face {
    font-family: 'AkzidenzItalic';
    src: url('AkzidenzGroteskBQ-ExtIt.woff2') format('woff2'), url('AkzidenzGroteskBQ-ExtIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzLight';
    src: url('AkzidenzGroteskBQ-LigExt.woff2') format('woff2'), url('AkzidenzGroteskBQ-LigExt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzLightItalic';
    src: url('AkzidenzGroteskBQ-LigExtIt.woff2') format('woff2'), url('AkzidenzGroteskBQ-LigExtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzBoldItalic';
    src: url('AkzidenzGroteskBQ-BoldExtIt.woff2') format('woff2'), url('AkzidenzGroteskBQ-BoldExtIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AkzidenzBold';
    src: url('AkzidenzGroteskBQ-BoldExt.woff2') format('woff2'), url('AkzidenzGroteskBQ-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */